body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1F2937;
}

.header {
  width: 70%;
  padding: 16px 0;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  background-color: #1F2937;
  color: #F9FAF8;
}

.logo {
  margin-right: auto;
}

.intro {
  box-sizing: border-box;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  background-color: #1F2937;
  padding: 15px;
}

.description {
  color: #E5E7EB;
  font-size: 18px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.info {
  text-align: center;
  padding: 70px 35%;
  background-color: #FFFFFF;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.content {
  display: flex;
  justify-content: center;
  gap: 25px;
}

p {
  display: flex;
  flex-wrap: wrap;
}

.testimonial {
  padding: 70px 90px;
  background-color: #E5E7EB;
}

.test-text {
  width: 40%;
  margin: 0 30%;
}

.name {
  text-align: right;
  width: 40%;
  margin: 0 30%;
}

.bottom {
  box-sizing: border-box;
  width: 70%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #3882F6;
  color: #F9FAF8;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: 3px solid #F9FAF8;
  padding: 6px 10px;
}