body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#FFFFFF;
}

.header {
  width: 70%;
  padding: 16px 15%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  background-color: #1F2937;
  color: #F9FAF8;
}

a {
  text-decoration: none;
  color: #F9FAF8;
}

.logo {
  margin-right: auto;
}

.intro {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 15%;
  background-color: #1F2937;
  gap: 60px;
}

.description {
  color: #E5E7EB;
  font-size: 18px;
}

.intro-d {
  padding: 16px 0px 10px;
}

.intro-t {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.info {
  text-align: center;
  width: 99vw;
  padding: 20px 0 30px;
  background-color: #FFFFFF;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.content {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

p {
text-align: center;
}

.info-page {
  width: 200px;
}

.info-image {
  border: 4px solid #3882F6;
  border-radius: 10px;
}

.testimonial {
  padding: 70px 0;
  background-color: #E5E7EB;
}

.test-text {
  width: 60%;
  margin: 0 20%;
  font-size: 36px;
  font-weight: light;
}

.name {
  text-align: right;
  width: 60%;
  margin: 0 20%;
  font-weight: bold;
  font-size: 20px;
}

.bottom {
  box-sizing: border-box;
  width: 70%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #3882F6;
  color: #F9FAF8;
}

h3 {
  margin: 0 0 10px;
  padding: 0;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 6px 20px;
  border-radius: 5px;
}

.button-top {
  border: none;
}

.button-bottom {
  border: 3px solid #F9FAF8;
}